---
title: Whatever
---
<p align = "center">
<i class="fa fa-cog fa-3x fa-spin"></i>
<h1 align = "center"> Bharvi doing whatever..but going nowhere !!
<br>
<br><span class="label label-default">Default</span>
<span class="label label-primary">Primary</span>
<span class="label label-success">Success</span>
<span class="label label-info">Info</span>
<span class="label label-warning">Warning</span>
<span class="label label-danger">Danger</span>
<br>
<br>
<br>
<i class="fa fa-quote-left fa-2x pull-left fa-border" align = "center"></i>
...tomorrow we will run faster, stretch out our arms farther...
And then one fine morning— So we beat on, boats against the
current, borne back ceaselessly into the past.
<br>
<h3> -- Bharvi Shah</h3>
</p>
